<%= form_for(@facturacion) do |f| %>
  <% if @facturacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facturacion.errors.count, "error") %> prohibited this facturacion from being saved:</h2>

      <ul>
      <% @facturacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :fchVencimiento %><br>
    <%= f.date_select :fchVencimiento %>
  </div>
  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div class="field">
    <%= f.label :cotizacion %><br>
    <%= f.number_field :cotizacion %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :iva %><br>
    <%= f.number_field :iva %>
  </div>
  <div class="field">
    <%= f.label :valorIva %><br>
    <%= f.number_field :valorIva %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
