<h1>Listing facturacions</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Fchvencimiento</th>
      <th>Cliente</th>
      <th>Cotizacion</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Valoriva</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturacions.each do |facturacion| %>
      <tr>
        <td><%= facturacion.fecha %></td>
        <td><%= facturacion.fchVencimiento %></td>
        <td><%= facturacion.cliente %></td>
        <td><%= facturacion.cotizacion %></td>
        <td><%= facturacion.descripcion %></td>
        <td><%= facturacion.cantidad %></td>
        <td><%= facturacion.precio %></td>
        <td><%= facturacion.iva %></td>
        <td><%= facturacion.valorIva %></td>
        <td><%= facturacion.total %></td>
        <td><%= link_to 'Show', facturacion %></td>
        <td><%= link_to 'Edit', edit_facturacion_path(facturacion) %></td>
        <td><%= link_to 'Destroy', facturacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facturacion', new_facturacion_path %>
