<%= form_for(@categorias_insumo) do |f| %>
  <% if @categorias_insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorias_insumo.errors.count, "error") %> prohibited this categorias_insumo from being saved:</h2>

      <ul>
      <% @categorias_insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :insumos_id %><br>
    <%= f.text_field :insumos_id %>
  </div>
  <div class="field">
    <%= f.label :categorias_id %><br>
    <%= f.text_field :categorias_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
