<h1>Listing categorias_insumos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Insumos</th>
      <th>Categorias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias_insumos.each do |categorias_insumo| %>
      <tr>
        <td><%= categorias_insumo.insumos %></td>
        <td><%= categorias_insumo.categorias %></td>
        <td><%= link_to 'Show', categorias_insumo %></td>
        <td><%= link_to 'Edit', edit_categorias_insumo_path(categorias_insumo) %></td>
        <td><%= link_to 'Destroy', categorias_insumo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categorias insumo', new_categorias_insumo_path %>
