<h1>Listing empleados</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Doc</th>
      <th>Estado</th>
      <th>Direccion</th>
      <th>Barrio</th>
      <th>Ciudad</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Genero</th>
      <th>Estudios</th>
      <th>Experiencia</th>
      <th>Fchinicio</th>
      <th>Fchfinal</th>
      <th>Cargo</th>
      <th>Ref</th>
      <th>Telref</th>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.name %></td>
        <td><%= empleado.doc %></td>
        <td><%= empleado.estado %></td>
        <td><%= empleado.direccion %></td>
        <td><%= empleado.barrio %></td>
        <td><%= empleado.ciudad %></td>
        <td><%= empleado.telefono %></td>
        <td><%= empleado.celular %></td>
        <td><%= empleado.correo %></td>
        <td><%= empleado.genero %></td>
        <td><%= empleado.estudios %></td>
        <td><%= empleado.experiencia %></td>
        <td><%= empleado.fchinicio %></td>
        <td><%= empleado.fchfinal %></td>
        <td><%= empleado.cargo %></td>
        <td><%= empleado.ref %></td>
        <td><%= empleado.telref %></td>

        <td><%= link_to 'Show', empleado %></td>
        <td><%= link_to 'Edit', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destroy', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empleado', new_empleado_path %>
