<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Docidentificacion:</strong>
  <%= @empleado.docIdentificacion %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @empleado.estadoCivil %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empleado.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @empleado.ciudad %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @empleado.barrio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empleado.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @empleado.celular %>
</p>

<p>
  <strong>Correoelectronico:</strong>
  <%= @empleado.correoElectronico %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @empleado.genero %>
</p>

<p>
  <strong>Estudios:</strong>
  <%= @empleado.estudios %>
</p>

<p>
  <strong>Experienciaslaborales:</strong>
  <%= @empleado.experienciasLaborales %>
</p>

<p>
  <strong>Fchinicio:</strong>
  <%= @empleado.fchInicio %>
</p>

<p>
  <strong>Fchfinal:</strong>
  <%= @empleado.fchFinal %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>

<p>
  <strong>Nomreferencia:</strong>
  <%= @empleado.nomReferencia %>
</p>

<p>
  <strong>Telreferencia:</strong>
  <%= @empleado.telReferencia %>
</p>

<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
